[user]
	name = Alexander Reitzel
	email = funtimecoding@gmail.com
	signingKey = ""
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FRX
[push]
	autoSetupRemote = true
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[url "ssh://git@vc.s3n.sh:22/"]
	insteadOf = https://vc.s3n.sh/
[url "ssh://git@git.rz.adition.net/"]
	insteadOf = https://git.rz.adition.net/
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[remote "origin"]
	prune = true
[log]
	abbrevCommit = true
	date = format:%Y-%m-%d %H:%M
