[user]
	name = Alexander Reitzel
	email = funtimecoding@gmail.com
	signingKey = ""
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FRX
[push]
	autoSetupRemote = true
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[url "ssh://git@vc.shiin.org:2222/"]
	insteadOf = https://vc.shiin.org/
[url "ssh://git@git.rz.adition.net/"]
	insteadOf = https://git.rz.adition.net/
[url "git@git01.int03.theadex.com:"]
	insteadOf = https://git01.int03.theadex.com/
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
